/*
!of_v0.7.4_vs2010_release
/of_v0.7.4_vs2010_release/*
!of_v0.7.4_vs2010_release/apps
/of_v0.7.4_vs2010_release/apps/*
!of_v0.7.4_vs2010_release/apps/myApps
/of_v0.7.4_vs2010_release/apps/myApps/*
!of_v0.7.4_vs2010_release/apps/myApps/FractalMining
/of_v0.7.4_vs2010_release/apps/myApps/FractalMining/*
!of_v0.7.4_vs2010_release/apps/myApps/FractalMining/src/
!of_v0.7.4_vs2010_release/apps/myApps/FractalMining/bin/data/shaders/
